<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reportes</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/dashboard}">SEVEN PHARMA</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/dashboard}">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/licitaciones}">Licitaciones</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/entregas}">Entregas</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/login}">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">

    <h2 class="mb-4">
        Reportes del Sistema
    </h2>

    <div class="card p-4 shadow">
        <p>Seleccione el tipo de reporte que desea generar:</p>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#" class="btn btn-outline-primary w-100">Reporte de Licitaciones</a>
            </li>

            <li class="list-group-item">
                <a href="#" class="btn btn-outline-success w-100">Reporte de Entregas</a>
            </li>

            <li class="list-group-item">
                <a href="#" class="btn btn-outline-info w-100">Reporte General</a>
            </li>

        </ul>
    </div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
